@tailwind base;
@tailwind components;
@tailwind utilities;

/* main {
	width: ;
	height: ;
} */
* {
    white-space: pre-wrap;
    line-height: 100%;
	color: #2A2C33;
	cursor: none;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	object-fit: contain;
}
.animation-pulse {
	animation: pulse-keyframe 2.9s infinite;
}
.project {
    display: flex;
    justify-content: center;
    width: auto;
    padding: 5rem;
}
.project .carousel {
    background: coral;
    width: 500px;
    height: 500px;
    overflow: hidden;
}
.project .carousel .carouselBox {
    display: flex;
}
.project .carousel .carouselBox .carouselItem {
    width: 500px;
    height: 500px;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    flex: none;
}
@keyframes pulse-keyframe {
	from {
		animation-timing-function: ease-in-out;
		transform: scale(0);
		opacity: 0.5;
	}
	to {
		transform: scale(11.5);
		opacity: 0;
	}	
}

@keyframes notify-show {
	from {
		top: -2%;
		opacity: 0.2;
	}
	to {
		top: 2%;
		opacity: 1;
	}
}
.notify-background {
	
}
.notify-content {
	animation: notify-show 0.15s;
	top: 2%;
	left: 50%;
	transform: translate(-50%);
}